# Application
IDYIE_FORMATTER_URL=http://idyie-formatter-application:9091
IDYIE_LLM_URL=http://idyie-llm-application:9090
PORT=8080

# Database
MYSQL_ROOT_PASSWORD=password
MYSQL_USER=dev
MYSQL_PASSWORD=password
MYSQL_DATABASE=idyie_api_development
